* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url(./background2.jpg);
    background-size: cover;
    min-height: 500px;
}

.header {
    display: flex;
    width: 100 vw;
    justify-content: right;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

.inputArea {
    display: flex;
    flex-direction: column;
}

span {
    display: flex;
    font-size: 12px;
    justify-content: center;
    color: red;
    opacity: 0;
    transition: opacity 0.4s;
}

span.show {
    opacity: 1;
}


input {
    padding: 7px;
    border-radius: 7px;
    border: 1px solid black;
    text-decoration: none;
    background-color: rgba(255,255,255, 0.2);
}

input::placeholder {
    color: #fff;
}

.main {
    display: flex;
    justify-content: left;
    padding-top: calc(5vh);
    padding-left: 10%;
}

.weatherDisplay {
    display: flex;
    flex-wrap: wrap;
}

.top {
    width: 100%;
    font-size: 40px;
    font-weight: 600;
}

.bottom { 
    padding-top: 0px;
}

.left {
    font-size: 100px;
    font-weight: 900;
    padding-right: 35px;
}

.left sup {
    font-size: 45px;
}

.right {
    font-size: 15px;
    font-weight: 700;
    margin-top: 30px;
}

.right sup {
    font-size: 9px;
}

.right > * {
    padding-bottom: 10px;
}

.condition {
    font-size: 18px;
    font-weight: 400;
    padding-left: 2px;
}