* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
}

/* TODO: set min window width */

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url(./background.jpg);
    background-size: cover;
}

.header {
    display: flex;
    width: 100 vw;
    justify-content: right;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

input {
    padding: 7px;
    border-radius: 7px;
    border: 1px solid black;
}

.main {
    display: flex;
    justify-content: left;
    padding-top: calc(15vh);
    padding-left: 10%;
}

.weatherDisplay {
    display: flex;
    flex-wrap: wrap;
}

.top {
    width: 100%;
    font-size: 40px;
}

.bottom { 
    padding-top: 0px;
}

.left {
    font-size: 100px;
    padding-right: 35px;
}

.left sup {
    font-size: 45px;
}

.right {
    font-size: 15px;
    margin-top: 25px;
}

.right sup {
    font-size: 8px;
}

.right > * {
    padding-bottom: 10px;
}

.condition {
    font-size: 18px;
}